# Exploratory Analysis 09/20/22

In [1]:
# goals 
""" 
bring in data sets as data frames
based on htimes json file, split into 2 dataframes as discussed in the 9/20 note 
"""

' \nbring in data sets as data frames\nbased on htimes json file, split into 2 dataframes as discussed in the 9/20 note \n'

In [8]:
import json
import datetime
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import math 
import sys
import os

# overall directory location 
root  = "/Users/julietnwagwuume-ezeoke/Library/CloudStorage/GoogleDrive-jnwagwu@stanford.edu/My Drive/UIL/windows/"
# add path to scripts 
sys.path.insert(0, os.path.join(root, 'analysis/scripts'))

In [3]:
# quiet np warning 
np.warnings.filterwarnings('ignore', category=np.VisibleDeprecationWarning)

In [9]:
from temprh_analysis import Temp_RH_Analysis

# Functions

In [13]:
def str2dt(date):
    """Convert a string to a pandas timestamp object """
    return pd.to_datetime(date, format= '%Y, %m, %d, %H, %M' )

In [14]:
# make dictionary of open to close times 
def get_htimes(df, date):
    with open('../constants/htimes.json') as f:    
        htimes = json.load(f)
    htimes_arr = [(str2dt(i["open"]), str2dt(i["close"])) for i in  htimes[date]]

    return htimes_arr

# split df into groups based on the open to close time (open temps, open rh)

In [15]:
def get_all_hdata(datasets):
    """
    datasets: list of datasets returned by the temprh analysis class
    returns 
        final data: list of dictionaries for rooms a and b with all the datasets (opening times, temp, and rh) collated
    # TODO make this work for closing times! -> should have 6 entries for each room, right now, have 3
    """
    # make a dictionary that will contain all the data (for this dataset to start)

    # perform operations for rooms 422 a and b 
    rooms = ["room_a", "room_b"]
    final_data = {}

    for room in rooms: 
        # initialize dictionary for a given room 
        dict_n = {}
        dict_n["open_times"] = np.empty((0,2))
        dict_n["open_temps"] = np.empty((0))
        dict_n["open_rh"] = np.empty((0))

        # loop over all the datasets of interest 
        for dataset in datasets:
            # determine what room this is, and get the corresponding dataframe 
            if room == "room_a":
                df = dataset.trh_422a
            else:
                df = dataset.trh_422b

            # get the opening times 
            open_time_groups = get_htimes(df, dataset.date)

            # for each item in open_times, get the temp and the rh, and add to list of groups 
            open_temp_groups = []
            open_rh_groups = []

            for i in open_time_groups: 
                start, end = i
                sub_df_i = df[(df['DateTime'] >= start) & (df['DateTime'] <= end)]
                open_temp_groups.append(sub_df_i["Temp C"].reset_index(drop=True))
                open_rh_groups.append(sub_df_i["RH %"].reset_index())

                
            # add these groups to the dictionary
            dict_n["open_times"] = np.concatenate([dict_n["open_times"], open_time_groups])
            dict_n["open_temps"] = np.append(dict_n["open_temps"],open_temp_groups, axis=0)
            dict_n["open_rh"] = np.append(dict_n["open_rh"],open_rh_groups, axis=0)

            final_data[room] = dict_n

    # structure
        # final_data = {
        # a : {
        #   open_times[(t1, t2, t3 ...)], 
        #   open_temps[[T1, T2, T3...], [T1, T2, T3...], ... [T1, T2, T3...]] , 
        #   open_rh[[], [], ... []]
        # }
        # b : {open_times, open_temps, open_rh}
        # }

    return final_data

# Import Data

In [16]:
# read in all datasets as dataframes
# [422a, 422b]
a = Temp_RH_Analysis(root, "072522", ["Open", "Sometimes Open"] )
b = Temp_RH_Analysis(root, "081622", ["Sometimes Closed", "Closed"])
# c = Temp_RH_Analysis(root, "082022", ["Open", "Closed"])
# d = Temp_RH_Analysis(root, "092022", ["Sometimes Closed", "Closed"])

In [17]:
# determine which datasets to include 
datasets = [a,b]
all_data = get_all_hdata(datasets) 
# all_data

In [ ]:
# a_data["open_times"] = get_htimes(a.trh_422a, a.date)
# a_data["open_times"]

In [19]:
all_data

{'room_a': {'open_times': array([[Timestamp('2022-07-19 12:01:00'),
          Timestamp('2022-07-19 20:00:00')],
         [Timestamp('2022-07-20 07:50:00'),
          Timestamp('2022-07-20 12:30:00')],
         [Timestamp('2022-07-20 22:28:00'),
          Timestamp('2022-07-21 13:11:00')],
         [Timestamp('2022-07-21 15:06:00'),
          Timestamp('2022-07-21 17:28:00')],
         [Timestamp('2022-07-21 22:45:00'),
          Timestamp('2022-07-22 07:50:00')],
         [Timestamp('2022-07-22 11:07:00'),
          Timestamp('2022-07-22 16:00:00')],
         [Timestamp('2022-07-22 23:02:00'),
          Timestamp('2022-07-23 19:50:00')],
         [Timestamp('2022-07-24 13:22:00'),
          Timestamp('2022-07-24 19:33:00')],
         [Timestamp('2022-07-27 09:00:00'),
          Timestamp('2022-08-01 19:30:00')],
         [Timestamp('2022-08-01 20:13:00'),
          Timestamp('2022-08-02 12:25:00')],
         [Timestamp('2022-08-02 18:13:00'),
          Timestamp('2022-08-10 07:52:00')],
         [Timestamp('2022-08-10 11:58:00'),
          Timestamp('2022-08-10 12:40:00')],
         [Timestamp('2022-08-10 17:24:00'),
          Timestamp('2022-08-10 17:24:00')]], dtype=object),
  'open_temps': array([0      25.142
         1      25.142
         2      25.142
         3      25.142
         4      25.142
                 ...
         954    25.385
         955    25.385
         956    25.385
         957    25.385
         958    25.385
         Name: Temp C, Length: 959, dtype: float64,
         0      23.405
         1      23.405
         2      23.405
         3      23.405
         4      23.405
                 ...
         556    24.948
         557    24.948
         558    24.973
         559    24.948
         560    24.973
         Name: Temp C, Length: 561, dtype: float64,
         0       24.344
         1       24.320
         2       24.344
         3       24.320
         4       24.320
                  ...
         1762    24.706
         1763    24.706
         1764    24.706
         1765    24.706
         1766    24.706
         Name: Temp C, Length: 1767, dtype: float64,
         0      24.948
         1      24.924
         2      24.948
         3      24.924
         4      24.924
                 ...
         280    25.167
         281    25.167
         282    25.167
         283    25.167
         284    25.167
         Name: Temp C, Length: 285, dtype: float64,
         0       24.441
         1       24.441
         2       24.441
         3       24.441
         4       24.441
                  ...
         1086    23.862
         1087    23.862
         1088    23.886
         1089    23.886
         1090    23.886
         Name: Temp C, Length: 1091, dtype: float64,
         0      24.513
         1      24.513
         2      24.513
         3      24.513
         4      24.513
                 ...
         582    25.361
         583    25.385
         584    25.385
         585    25.385
         586    25.385
         Name: Temp C, Length: 587, dtype: float64,
         0       24.586
         1       24.586
         2       24.586
         3       24.586
         4       24.537
                  ...
         2492    24.948
         2493    24.924
         2494    24.924
         2495    24.924
         2496    24.924
         Name: Temp C, Length: 2497, dtype: float64,
         0      24.779
         1      24.779
         2      24.779
         3      24.779
         4      24.779
                 ...
         738    24.586
         739    24.586
         740    24.586
         741    24.561
         742    24.561
         Name: Temp C, Length: 743, dtype: float64,
         0        23.814
         1        23.814
         2        23.814
         3        23.814
         4        23.814
                   ...
         15656    25.191
         15657    25.191
         15658    25.191
         15659    25.191
         15660    25.191
         Name: Temp C, Length: 15661, dtype: float64,
         0       25.021
         1       24.997
         2       25.021
         3       24.997
         4       25.021
                  ...
         1940    25.798
         1941    25.798
         1942    25.798
         1943    25.798
         1944    25.798
         Name: Temp C, Length: 1945, dtype: float64,
         0        25.798
         1        25.798
         2        25.798
         3        25.798
         4        25.822
                   ...
         21794    25.070
         21795    25.094
         21796    25.070
         21797    25.094
         21798    25.094
         Name: Temp C, Length: 21799, dtype: float64,
         0     25.652
         1     25.652
         2     25.652
         3     25.652
         4     25.652
                ...
         80    25.725
         81    25.725
         82    25.725
         83    25.725
         84    25.725
         Name: Temp C, Length: 85, dtype: float64,
         0    25.92
         Name: Temp C, dtype: float64], dtype=object),
  'open_rh': array([     index    RH %
         0     1622  50.038
         1     1623  49.942
         2     1624  49.942
         3     1625  49.942
         4     1626  50.197
         ..     ...     ...
         954   2576  50.325
         955   2577  50.452
         956   2578  50.165
         957   2579  49.751
         958   2580  49.974

         [959 rows x 2 columns],      index    RH %
                                 0     4000  51.644
                                 1     4001  51.549
                                 2     4002  51.549
                                 3     4003  51.644
                                 4     4004  51.739
                                 ..     ...     ...
                                 556   4556  49.821
                                 557   4557  49.789
                                 558   4558  49.856
                                 559   4559  49.853
                                 560   4560  49.888

                                 [561 rows x 2 columns],
               index    RH %
         0      5756  48.243
         1      5757  48.240
         2      5758  48.499
         3      5759  48.272
         4      5760  48.112
         ...     ...     ...
         1762   7518  52.832
         1763   7519  52.548
         1764   7520  52.580
         1765   7521  52.738
         1766   7522  52.611

         [1767 rows x 2 columns],      index    RH %
                                  0     7752  51.125
                                  1     7753  51.376
                                  2     7754  51.442
                                  3     7755  51.249
                                  4     7756  51.122
                                  ..     ...     ...
                                  280   8032  50.900
                                  281   8033  50.900
                                  282   8034  50.900
                                  283   8035  50.805
                                  284   8036  50.773

                                  [285 rows x 2 columns],
               index    RH %
         0      8670  54.399
         1      8671  54.085
         2      8672  54.054
         3      8673  53.551
         4      8674  53.142
         ...     ...     ...
         1086   9756  52.841
         1087   9757  52.841
         1088   9758  52.813
         1089   9759  52.781
         1090   9760  52.781

         [1091 rows x 2 columns],      index    RH %
                                  0    10154  51.035
                                  1    10155  51.130
                                  2    10156  51.067
                                  3    10157  51.067
                                  4    10158  51.098
                                  ..     ...     ...
                                  582  10736  50.162
                                  583  10737  50.165
                                  584  10738  50.070
                                  585  10739  50.038
                                  586  10740  50.038

                                  [587 rows x 2 columns],
               index    RH %
         0     11584  45.575
         1     11585  45.737
         2     11586  45.479
         3     11587  44.962
         4     11588  45.085
         ...     ...     ...
         2492  14076  57.066
         2493  14077  56.096
         2494  14078  55.032
         2495  14079  55.440
         2496  14080  55.690

         [2497 rows x 2 columns],      index    RH %
                                  0    16184  50.658
                                  1    16185  50.626
                                  2    16186  50.626
                                  3    16187  50.626
                                  4    16188  50.658
                                  ..     ...     ...
                                  738  16922  51.963
                                  739  16923  51.773
                                  740  16924  51.963
                                  741  16925  51.801
                                  742  16926  51.738

                                  [743 rows x 2 columns],
                index    RH %
         0          0  54.872
         1          1  54.935
         2          2  54.904
         3          3  54.904
         4          4  54.872
         ...      ...     ...
         15656  15656  53.751
         15657  15657  53.719
         15658  15658  53.719
         15659  15659  53.845
         15660  15660  53.845

         [15661 rows x 2 columns],       index    RH %
                                   0     15746  54.230
                                   1     15747  54.164
                                   2     15748  54.167
                                   3     15749  54.164
                                   4     15750  54.356
                                   ...     ...     ...
                                   1940  17686  52.572
                                   1941  17687  52.636
                                   1942  17688  52.509
                                   1943  17689  52.572
                                   1944  17690  52.636

                                   [1945 rows x 2 columns],
                index    RH %
         0      18386  50.443
         1      18387  50.411
         2      18388  50.411
         3      18389  50.443
         4      18390  50.606
         ...      ...     ...
         21794  40180  53.639
         21795  40181  52.981
         21796  40182  53.230
         21797  40183  52.886
         21798  40184  53.863

         [21799 rows x 2 columns],     index    RH %
                                   0   40676  51.029
                                   1   40677  51.029
                                   2   40678  51.029
                                   3   40679  51.092
                                   4   40680  51.092
                                   ..    ...     ...
                                   80  40756  51.833
                                   81  40757  51.801
                                   82  40758  51.833
                                   83  40759  51.865
                                   84  40760  51.801

                                   [85 rows x 2 columns],    index    RH %
                                                          0  41328  50.905],
        dtype=object)},
 'room_b': {'open_times': array([[Timestamp('2022-07-19 12:01:00'),
          Timestamp('2022-07-19 20:00:00')],
         [Timestamp('2022-07-20 07:50:00'),
          Timestamp('2022-07-20 12:30:00')],
         [Timestamp('2022-07-20 22:28:00'),
          Timestamp('2022-07-21 13:11:00')],
         [Timestamp('2022-07-21 15:06:00'),
          Timestamp('2022-07-21 17:28:00')],
         [Timestamp('2022-07-21 22:45:00'),
          Timestamp('2022-07-22 07:50:00')],
         [Timestamp('2022-07-22 11:07:00'),
          Timestamp('2022-07-22 16:00:00')],
         [Timestamp('2022-07-22 23:02:00'),
          Timestamp('2022-07-23 19:50:00')],
         [Timestamp('2022-07-24 13:22:00'),
          Timestamp('2022-07-24 19:33:00')],
         [Timestamp('2022-07-27 09:00:00'),
          Timestamp('2022-08-01 19:30:00')],
         [Timestamp('2022-08-01 20:13:00'),
          Timestamp('2022-08-02 12:25:00')],
         [Timestamp('2022-08-02 18:13:00'),
          Timestamp('2022-08-10 07:52:00')],
         [Timestamp('2022-08-10 11:58:00'),
          Timestamp('2022-08-10 12:40:00')],
         [Timestamp('2022-08-10 17:24:00'),
          Timestamp('2022-08-10 17:24:00')]], dtype=object),
  'open_temps': array([0      25.458
         1      25.433
         2      25.458
         3      25.458
         4      25.458
                 ...
         954    25.798
         955    25.774
         956    25.774
         957    25.774
         958    25.774
         Name: Temp C, Length: 959, dtype: float64,
         0      23.381
         1      23.381
         2      23.381
         3      23.381
         4      23.405
                 ...
         556    25.118
         557    25.118
         558    25.118
         559    25.118
         560    25.118
         Name: Temp C, Length: 561, dtype: float64,
         0       24.368
         1       24.392
         2       24.392
         3       24.368
         4       24.368
                  ...
         1762    25.288
         1763    25.288
         1764    25.288
         1765    25.288
         1766    25.288
         Name: Temp C, Length: 1767, dtype: float64,
         0      25.385
         1      25.385
         2      25.385
         3      25.385
         4      25.385
                 ...
         280    25.506
         281    25.506
         282    25.506
         283    25.506
         284    25.506
         Name: Temp C, Length: 285, dtype: float64,
         0       24.392
         1       24.392
         2       24.392
         3       24.392
         4       24.392
                  ...
         1086    24.658
         1087    24.682
         1088    24.682
         1089    24.682
         1090    24.682
         Name: Temp C, Length: 1091, dtype: float64,
         0      25.021
         1      25.021
         2      25.045
         3      25.045
         4      25.045
                 ...
         582    25.336
         583    25.336
         584    25.336
         585    25.336
         586    25.336
         Name: Temp C, Length: 587, dtype: float64,
         0       24.803
         1       24.779
         2       24.779
         3       24.731
         4       24.731
                  ...
         2492    25.191
         2493    25.191
         2494    25.167
         2495    25.167
         2496    25.191
         Name: Temp C, Length: 2497, dtype: float64,
         0      24.731
         1      24.731
         2      24.731
         3      24.755
         4      24.755
                 ...
         738    25.409
         739    25.409
         740    25.409
         741    25.385
         742    25.385
         Name: Temp C, Length: 743, dtype: float64,
         0        24.103
         1        24.103
         2        24.103
         3        24.103
         4        24.103
                   ...
         15656    25.167
         15657    25.167
         15658    25.167
         15659    25.167
         15660    25.167
         Name: Temp C, Length: 15661, dtype: float64,
         0       25.118
         1       25.118
         2       25.118
         3       25.118
         4       25.118
                  ...
         1940    25.968
         1941    25.944
         1942    25.968
         1943    25.944
         1944    25.968
         Name: Temp C, Length: 1945, dtype: float64,
         0        26.090
         1        26.090
         2        26.090
         3        26.090
         4        26.090
                   ...
         21794    25.288
         21795    25.288
         21796    25.312
         21797    25.312
         21798    25.312
         Name: Temp C, Length: 21799, dtype: float64,
         0     26.139
         1     26.139
         2     26.139
         3     26.139
         4     26.139
                ...
         80    26.139
         81    26.139
         82    26.139
         83    26.139
         84    26.139
         Name: Temp C, Length: 85, dtype: float64,
         0    26.212
         Name: Temp C, dtype: float64], dtype=object),
  'open_rh': array([     index    RH %
         0     1622  50.971
         1     1623  50.968
         2     1624  50.971
         3     1625  50.971
         4     1626  51.003
         ..     ...     ...
         954   2576  49.996
         955   2577  49.961
         956   2578  49.993
         957   2579  50.057
         958   2580  50.089

         [959 rows x 2 columns],      index    RH %
                                 0     4000  52.931
                                 1     4001  52.931
                                 2     4002  52.931
                                 3     4003  53.025
                                 4     4004  52.966
                                 ..     ...     ...
                                 556   4556  51.592
                                 557   4557  51.624
                                 558   4558  51.592
                                 559   4559  51.592
                                 560   4560  51.592

                                 [561 rows x 2 columns],
               index    RH %
         0      5756  49.586
         1      5757  49.525
         2      5758  49.780
         3      5759  49.681
         4      5760  49.841
         ...     ...     ...
         1762   7518  52.122
         1763   7519  52.122
         1764   7520  52.122
         1765   7521  52.122
         1766   7522  52.122

         [1767 rows x 2 columns],      index    RH %
                                  0     7752  50.929
                                  1     7753  50.961
                                  2     7754  50.929
                                  3     7755  50.929
                                  4     7756  50.898
                                  ..     ...     ...
                                  280   8032  51.581
                                  281   8033  51.613
                                  282   8034  51.613
                                  283   8035  51.581
                                  284   8036  51.645

                                  [285 rows x 2 columns],
               index    RH %
         0      8670  50.638
         1      8671  51.019
         2      8672  51.462
         3      8673  51.810
         4      8674  52.095
         ...     ...     ...
         1086   9756  51.118
         1087   9757  51.121
         1088   9758  51.153
         1089   9759  51.216
         1090   9760  51.248

         [1091 rows x 2 columns],      index    RH %
                                  0    10154  51.420
                                  1    10155  51.420
                                  2    10156  51.392
                                  3    10157  51.424
                                  4    10158  51.455
                                  ..     ...     ...
                                  582  10736  51.717
                                  583  10737  51.685
                                  584  10738  51.685
                                  585  10739  51.685
                                  586  10740  51.685

                                  [587 rows x 2 columns],
               index    RH %
         0     11584  45.343
         1     11585  45.340
         2     11586  45.470
         3     11587  45.431
         4     11588  45.593
         ...     ...     ...
         2492  14076  50.140
         2493  14077  50.076
         2494  14078  50.073
         2495  14079  50.073
         2496  14080  50.108

         [2497 rows x 2 columns],      index    RH %

# Analyze Data

In [ ]:
# greatsest rmse between rooms a and b..
# how to account for uncertainty between the rooms? 
# does not include "closed"* data yet 
# *whether or not this is actually closed data depends on the dataset!

In [190]:
def calc_rmse(arr1, arr2):
    MSE = mean_squared_error(arr1, arr2)   
    RMSE = math.sqrt(MSE) 
    return RMSE

In [191]:
open_rmses = [calc_rmse(a,b) for a,b in zip(all_data["room_a"]["open_temps"], all_data["room_b"]["open_temps"])]
open_rmses
# now we have complication bc need to distinguish between wether room a was open or closed, which changed from dataset to dataset :( 
    # basically, need the times to be ordered acordong to the dataset they came from

[0.2859888047715159,
 0.12079498992101366,
 0.718796865847375,
 0.37273292258525603,
 1.346876409788489,
 0.2523493765327288,
 0.8491970746569534,
 0.22237580501058324,
 0.785460798544028,
 0.4758808371937521,
 0.7022101741470479,
 0.4567469887855917,
 0.29199999999999804]

In [192]:
# sort from greatest to smallest 
np.sort(open_rmses)

array([0.12079499, 0.22237581, 0.25234938, 0.2859888 , 0.292     ,
       0.37273292, 0.45674699, 0.47588084, 0.70221017, 0.71879687,
       0.7854608 , 0.84919707, 1.34687641])

In [196]:
idx_srmse = np.argsort(open_rmses)

In [197]:
all_data["room_a"]["open_times"][idx_srmse]
# can categorize after the fact based on 
    # which room was open / closed at all times, ie the control 
    # times of day encompassed...

array([[Timestamp('2022-07-20 07:50:00'),
        Timestamp('2022-07-20 12:30:00')],
       [Timestamp('2022-07-24 13:22:00'),
        Timestamp('2022-07-24 19:33:00')],
       [Timestamp('2022-07-22 11:07:00'),
        Timestamp('2022-07-22 16:00:00')],
       [Timestamp('2022-07-19 12:01:00'),
        Timestamp('2022-07-19 20:00:00')],
       [Timestamp('2022-08-10 17:24:00'),
        Timestamp('2022-08-10 17:24:00')],
       [Timestamp('2022-07-21 15:06:00'),
        Timestamp('2022-07-21 17:28:00')],
       [Timestamp('2022-08-10 11:58:00'),
        Timestamp('2022-08-10 12:40:00')],
       [Timestamp('2022-08-01 20:13:00'),
        Timestamp('2022-08-02 12:25:00')],
       [Timestamp('2022-08-02 18:13:00'),
        Timestamp('2022-08-10 07:52:00')],
       [Timestamp('2022-07-20 22:28:00'),
        Timestamp('2022-07-21 13:11:00')],
       [Timestamp('2022-07-27 09:00:00'),
        Timestamp('2022-08-01 19:30:00')],
       [Timestamp('2022-07-22 23:02:00'),
        Timestamp('2022-07-23 19:50:00')],
       [Timestamp('2022-07-21 22:45:00'),
        Timestamp('2022-07-22 07:50:00')]], dtype=object)